body{
    background-color: rgb(216, 206, 185);
}
h2{
    display: flex;
    margin: auto;
    font-size: 3em;
    width: 90%;
    color: #160f0f;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.bright {
  filter: brightness(1.4); /* 1 is normal, >1 is brighter */
  transition: filter 0.1s ease;
  scale: 1.05;
}

#display-container{
    background-color: rgb(234, 241, 247);
    width: 270px;
    height: 80px;
    display: flex;
    color: rgb(35, 34, 34);
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    flex-direction: row;
    margin-bottom: 5px;
    font-size:50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;   
}

.input{
    display: flex;
    flex-direction: column;
     margin-right: 5px;
}

#display-opt{
     /* height: 50px; */
     /* width: 70px; */
    /* padding: 10px; */
     color: rgb(4, 38, 82);
     border-radius: 5px;
     /* margin: auto; */

     /* justify-content: center; */
     /* display: flex; */
     /* flex-direction: column; */
     font-weight: 200;
     font-size: 35px;
     /* background-color: #dbb181; */
}

#result{
       text-align: right;

    /* background-color: #dbb181;  */
    /* padding: 10px;  */
    /* margin-right: 10px ; */
    /* height: 50px; */
    font-size: 25px;color: rgba(4, 38, 82, 0.493);
    /* background-color: darkturquoise; */
}

#display-num{
       text-align: right;

    /* background: #ef1f1f; */
     /* width: 200px; */
     /* height: 50px; */
     color: rgb(4, 38, 82);
     border-radius: 5px;
     /* margin-right: 10px; */
     /* padding: 10px; */
     display: flex;
     flex-direction: row;
     font-weight: 200;
     font-size: 35px;
}

.calculator{
    /* flex: 1; */
    padding:30px;
    background: #2c2c2c;
    width: 260px;
    height:330px;
    margin: auto;
}

.btn{
    width: 55px;
    height: 55px;
    margin: 5px;
    padding: 2px;
    font-size: large;
    background-color: #4a4a4b;
    color: #ffffff;
    border-radius: 8px;
}

.btn:hover {
    filter: brightness(1.2); /* Increase brightness by 20% */
    cursor: pointer;
}
.opt,
.equal{
    background-color: #fa8c17;
}

#btn-clear{
    background-color: rgb(225, 25, 25);
    color: white;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
}


.operator{            /* padding: 10px; */
            /* margin: 10px 0; */
            /* background-color: rgb(0, 0, 0); */
            color: #000412;
}

.value1{
    display: flex;
    font-size: 20em;
    font-weight: 600;
    color: rgb(156, 44, 44);
}